body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF8000; /* Just Eat primary color */
    padding: 10px;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

p {
    color: #666;
}

button {
    background-color: #FF8000; /* Just Eat primary color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #007bbc; /* Darker shade of Just Eat primary color */
}

.progress-container {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin: 20px 0;
}

.progress-bar {
    width: 0;
    height: 10px;
    background-color: #FF8000; /* Just Eat primary color */
    border-radius: 8px;
}

.form-group {
    margin: 20px 0;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input#fullName, input#startDate {
    padding-left: 0;
    padding-right: 0;
}

.button-container {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.company-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.company-logo {
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.company-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.faq {
    text-align: left;
    margin-bottom: 20px;
}

.centered-list {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.centered-list li {
    text-align: center;
    display: list-item;
    list-style-position: inside;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden; /* Ensures images stay within the container */
    border-radius: 8px;
    padding: 0; /* Remove any padding */
}

.carousel-container {
    height: 400px;
}

.carousel-slide {
    display: flex; /* Align images in a row */
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
    position: relative; /* Necessary for absolute positioning of images */
    width: 100%; /* Ensure the slide takes up full width */
    height: 100%; /* Ensure the slide takes up full height */
    box-sizing: border-box; /* Include padding and border in element's width/height */
}

.carousel-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Hide all images by default */
    transition: opacity 1s ease-in-out; /* Smooth transition for fading images */
    z-index: 1;
    padding: 0; /* Ensure no padding is applied */
    box-sizing: border-box; /* Include padding and border in element's width/height */
}

.carousel-image.active {
    opacity: 1; /* Only the active image is fully visible */
    z-index: 2;
}

.carousel-control {
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
}

.carousel-control.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.carousel-control.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.carousel-control:hover {
    background-color: rgba(0,0,0,0.8);
}
